.logo {
    font-family: var(--montserrat);
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1rem;
    color: var(--logo);
      
    span {
  
     color: var(--background-white);
        
    }
  }


.logo.small {
  font-size: 0.6875rem;
}